<div class="boy">
<h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="boy">

            <%= f.check_box :remember_me %>
            <div class="girl">
            <%= f.label :remember_me  %>
            </div>
          </div>
      <% end -%>

      <div class="asfbk">
        <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block" %><br>
          <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>

        </div>
      </div>
  <% end %>

  <!--<%= render "devise/shared/links" %>-->
</div>