<div class="container">
  <div class="grey" >
<h1>Editing campaign</h1>

<%= form_for @campaign, as: :post, url: campaign_path(@campaign), method: :patch  do |z| %>

    <div class="field">
      <%= z.label :Title %><br>
      <%= z.text_field :title %>
    </div>

    <div class="field">
      <%= z.label :Country %><br>
      <%= z.text_field :country %>
    </div>

    <div class="field">
      <%= z.label :Region %><br>
      <%= z.text_field :region %>
    </div>

    <div class="field">
      <%= z.label :City %><br>
      <%= z.text_field :city %>
    </div>

    <div class="field">
      <%= z.label :Category %><br>
      <%= z.text_field :category %>
    </div>

    <div class="field">
      <%= z.label :Share_your_Story %><br>
      <%= z.text_area :story %>
    </div>


    <div class="field">
      <%= z.label :Fundraising_Goal %><br>
      <%= z.text_field :target_amount %>
    </div>

    <p></p>

    <p>
      <%= z.file_field :image %>
    </p>
        </div>
        </div>
        <p></p>
    <p><%= z.submit 'Save Campaign Changes', :class => "btn btn-primary" %></p>
<% end %>