<h1>Editing campaign</h1>

<%= form_for @campaign, as: :post, url: campaign_path(@campaign), method: :patch  do |z| %>

    <p><%= z.label :title %>: <%= z.text_area :title %></p>
    <p><%= z.label :story %>: <%= z.text_area :story %></p>
    <p><%= z.label :target_amount %>: <%= z.number_field :target_amount %></p>
    <p><%= z.label :amount_raised %>: <%= z.number_field :amount_raised %></p>
    <p><%= z.label :timeline %>: <%= z.date_select :timeline %></p>
    <p><%= z.submit 'Save Campaign Changes' %></p>
<% end %>