<h1>Listing campaigns</h1>
<% @campaigns.each do |campaign| %>
    <p>
      <%= image_tag campaign.image_url(:thumb).to_s %>
      <%= link_to campaign.title, campaign %>
      <%= link_to "Edit", edit_campaign_path(campaign) %>
      <%= link_to 'Back', campaign_index_path %>
      <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>
<p><%= link_to "Add Campaign", new_campaign_path %></p>

