<h1>Welcome, Create a New campaign</h1>

<%= form_for @campaign, as: :post, url: campaign_index_path(@campaign), method: :post do |z| %>

    <h2>Basics</h2>
    <div class="field">
    <%= z.label :title %><br>
      <%= z.text_area :title %>
     </div>

    <div class="field">
    <%= z.label :story %><br>
      <%= z.text_area :story %>
      </div>

    <div class="field">
    <%= z.label :target_amount %><br>
      <%= z.number_field :target_amount %>
      </div>

      <div class="field">
    <%= z.label :amount_raised %><br>
        <%= z.number_field :amount_raised %>
        </div>

        <div class="field">
    <%= z.label :timeline %><br>
          <%= z.date_select :timeline %>
          </div>

     <div class="actions">
    <%= z.submit 'Add Campaign' %>
            </div>
<% end %>


<%= link_to 'Back', campaign_index_path %>
