<h1>Welcome, Create a New campaign</h1>

<%= form_for @campaign, as: :post, :html => {:multipart => true}, url: campaign_index_path(@campaign), method: :post do |z| %>

    <h2>BASIC DETAIL</h2>
    <div class="field">
    <%= z.label :Title %><br>
      <%= z.text_field :title %>
     </div>

    <div class="field">
      <%= z.label :Country %><br>
      <%= z.text_field :country %>
    </div>
    <p></p>
    <div class="field">
      <%= z.label :Region %><br>
      <%= z.text_field :region %>
    <!--</div>-->

    <!--<div class="field">-->
      <%= z.label :City %>
      <%= z.text_field :city %>
    </div>

    <h2>MEDICAL DETAILS</h2>
    <div class="control-group">
      <label class="control-label">Category</label>
      <div class="controls">
        <p><div id="gender" name="gender" class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-info">Medical Expenses</button>
        <button type="button" class="btn btn-info">Emergency Medical Expenses</button>
      </div></p>
      </div>
    </div>

    <div class="field">
      <%= z.label :Fundraising_Goal %><br>
      <%= z.text_field :target_amount %>
    </div>

    <p>
      <%= z.label :Add_an_Image %> <%= z.file_field :image %>
    </p>

    <div class="field">
    <%= z.label :Share_your_Story %><br>
      <%= z.text_area :story %>
      </div>

    <!--<p>-->
      <!--<%= z.label :remote_image_url, "or image URL" %>-->
      <!--<%= z.text_field :remote_image_url %>-->
    <!--</p>-->

<p></p>
    <%= submit_tag "Save & Submit", :class => "btn btn-primary btn-lg btn-block" %>

<% end %>


<%= link_to 'Back', campaign_index_path %>
