<div class="container" >
  <div class="alfred">
  <div class="grey" >
<h2>Welcome, Create a New Campaign</h2>

<%= form_for @campaign, as: :post, :html => {:multipart => true}, url: campaign_index_path(@campaign), method: :post do |z| %>

    <h2>Basic Details</h2>
    <div class="field">
    <%= z.label :Title %><br>
      <%= z.text_field :title %>
     </div>

    <div class="field">
      <%= z.label :Country %><br>
      <%= z.text_field :country %>
    </div>
    <p></p>
    <div class="field">
      <%= z.label :Region %><br>
      <%= z.text_field :region %>
    <!--</div>-->

    <!--<div class="field">-->
      <%= z.label :City %>
      <%= z.text_field :city %>
    </div>

   </div>
<!--</div>-->
<hr>
        <!--<div class="container">-->
          <div class="grey">
    <h2>Medical Details</h2>
            <div style="width: 300px">
    <label class="control-label">Category</label>
    <div class="controls">
      <p>
        <select name="post[category]" >
          <option value="Medical Expenses">Medical Expenses</option>
          <option value="Emergency Medical Expenses">Emergency Medical Expenses</option>
        </select>
      </p>
      </div>
    </div>

    <div class="field">
      <%= z.label :Fundraising_Goal %><br>
      <%= z.text_field :target_amount %>
    </div>

            <div class="field">
      <%= z.label :Add_an_Image %> <%= z.file_field :image %>
    </div>

    <div class="story">
    <%= z.label :Share_your_Story %><br>
      <%= z.text_area :story %>
      </div>

    <!--<p>-->
      <!--<%= z.label :remote_image_url, "or image URL" %>-->
      <!--<%= z.text_field :remote_image_url %>-->
    <!--</p>-->
            <br>
            <%= submit_tag "Save & Submit", :class => "btn btn-primary" %>
            <%= link_to 'Back', campaign_index_path, :class => "btn btn-primary" %>


          </div>

        </div>


<% end %>
</div>
