<div class="coat">
  <!--<h1>Brain Cancer</h1>-->
  <H2><strong>HELPER CROWDFUNDING SITE</strong></H2>
</div>
<p></p>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="track_holder col-md-10">
    <div class="left_tracker col-md-7">

     <p><h2 style="color: black">
        <strong>Illness:</strong>
       <%= @campaign.title %></h2>
      </p>

      <%= image_tag @campaign.image_url(:fully).to_s %>

      <p>
        <strong>Category:</strong>
        <%= @campaign.category %>
      </p>

      <p>
        <strong>Share your Story:</strong><br>
        <%= @campaign.story %>
      </p>

      <p>
        <%= link_to 'Edit', edit_campaign_path(@campaign), :class => "btn btn-primary" %> |
        <%= link_to 'Back', campaign_index_path, :class => "btn btn-primary" %>|
        <%= link_to 'Destroy', campaign_path(@campaign), :class => "btn btn-primary", :confirm => 'ARe you sure?', :method => :delete %>
      </p>
      <!--<%= link_to "Contributions", contributions_path %>-->

      <div class="jumia col-xs-7 ">
      <h2 style="font-style: oblique; color: dimgray">
        Supportive Comments
      </h2>

      <% @campaign.comments.each do |comment| %>
           Name:
          <%= comment.name %><br>
          Comment:
          <%= comment.text %><br>
          <p></p>
      <% end %>
      </div>


      <div style="float: left">
      <%= render 'comments/form' %>
      </div>

    </div>

    <div class="right_tracker col-md-4">
      <p>
        <strong><h3>From the Helper Team</h3></strong><br>
        Help Mr Joe raise funds for His Brain cancer Treatment. He is loving family dad with 3 kids who
        would love to spend more time with their father.
      </p>
      <p>
        <strong>Country:</strong>
        <%= @campaign.country %>
      </p>

      <p>
        <strong>Target amount:</strong>
        <%= @campaign.target_amount %>
      </p>

      <p>
        <strong>Region:</strong>
        <%= @campaign.region %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @campaign.city %>
      </p>

      <div class="donate"><%= link_to "Donate", new_campaign_contribution_path(@campaign) %></div>
      <br>
      <br>
      <h4>Please Share</h4>
      <h6>
        It takes only a few seconds to share this story with the world, please share.
      </h6>
      <br>
      <a href="#" class="btn btn-primary btn-large" onclick="window.open('http://www.facebook.com/sharer.php?u=<?php the_permalink();?>&t=<?php the_title(); ?>',
              'Share on Facebook', 'width=600, height=350'); return false;"><i class="icon-white icon-facebook"></i>
        Share on Facebook</a>      <h4>
      </h4>
      <h4>
        Recent Donations
      </h4>
      <% @campaign.contributions.each do |contribution| %>
         Ghc <%= contribution.donation_amount %><br>
          <%= contribution.first_name %> <%= contribution.last_name %><br>
          <%= contribution.comment %><br>
          <p></p>
      <% end %>
    </div>

  </div>
  <div class="col-md-1">

  </div>

</div>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>