<div class="showy">
<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<%= image_tag @campaign.image_url(:fully).to_s %>

<p>
  <strong>Country:</strong>
  <%= @campaign.story %>
</p>

<p>
  <strong>Target amount:</strong>
  <%= @campaign.target_amount %>
</p>

<p>
  <strong>Region:</strong>
  <%= @campaign.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @campaign.city %>
</p>

<p>
  <strong>Share your Story:</strong>
  <%= @campaign.story %>
</p>

<p>
  <strong>Category:</strong>
  <%= @campaign.category %>
</p>





<p><%=@campaign.created_at %></p>
<p>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaign_index_path %>
<%= link_to 'Destroy', campaign_path(@campaign), :confirm => 'ARe you sure?', :method => :delete %>
</p>
</div>