<div class="row">
  <div class="col-md-1">

  </div>
  <div class="track_holder col-md-10">
    <div class="left_tracker col-md-7">

      <p>
        <strong>Title:</strong>
        <%= @campaign.title %>
      </p>

      <%= image_tag @campaign.image_url(:fully).to_s %>

      <p>
        <strong>Category:</strong>
        <%= @campaign.category %>
      </p>

      <p>
        <strong>Share your Story:</strong><br>
        <%= @campaign.story %>
      </p>

      <p>
        <%= link_to 'Edit', edit_campaign_path(@campaign), :class => "btn btn-primary" %> |
        <%= link_to 'Back', campaign_index_path, :class => "btn btn-primary" %>|
        <%= link_to 'Destroy', campaign_path(@campaign), :class => "btn btn-primary", :confirm => 'ARe you sure?', :method => :delete %>
      </p>

    </div>

    <div class="right_tracker col-md-4">
      <p>
        <strong>Country:</strong>
        <%= @campaign.country %>
      </p>

      <p>
        <strong>Target amount:</strong>
        <%= @campaign.target_amount %>
      </p>

      <p>
        <strong>Region:</strong>
        <%= @campaign.region %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @campaign.city %>
      </p>

      <div class="donate">Donate</div>
      <br>
      <br>
      <h4>Please Share</h4>
      <h6>
        It takes only a few seconds to share this story with the world, please share.
      </h6>
      <br>
      <p>Add FB Share button here</p>
      <h4>
        Recent Donations
      </h4>
    </div>

  </div>
  <div class="col-md-1">

  </div>

</div>